<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    
</head>
<body>
  {{>navbar}}

    <!-- main-header  -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/illustration5.jpg" alt="VishuWeather" class="img-fluid" title="Vishu webpage">
                    </figure>
                </div>
                    <!-- right side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                
                        <p>Welcome to weather app</p>
                        <h1>I Am A <span class="text-clr">Mern Stack Developer</span> And a Freelancer</h1>
                        <a href="https://www.linkedin.com/in/vishwajeet-kumar-8080a51bb/"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


   <!-- footer code  -->

 {{>footer}}


    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <script src="js/main.js"></script>
</body>
</html>